.app {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.components-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.component {
  width: 80px;
  height: 80px;
  background-color: bisque;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}

.component.active {
  background-color: red;
  color: white;
}
